/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #444444;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    /* margin: 30;
    font-size: 32px;
    font-weight: bold; */
    /* color: #222222; */
}

 nav a:hover {
    border-bottom: 2px solid #222222;
}
/*
main {
    padding: 20px;
} 

/* Home Styles 
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad-card {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.ad-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.ad-card h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}

.ad-card p {
    margin: 0;
    font-size: 16px;
    color: #444444;
}

/* Ad Styles 
.ad-container {
    text-align: center;
}

.ad-container img {
    max-width: 100%;
    max-height: 80vh;
    margin-bottom: 20px;
}

.ad-container button {
    background-color: #222222;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ad-container button:hover {
    background-color: #444444;
}

/* Stats Styles
.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stats-table th,
.stats-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.stats-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.stats-table tr:nth-child(even) {
    background-color: #ffffff;
}

.stats-table tr:hover {
    background-color: #f2f2f2;
}

.stats-container {
    text-align: center;
}

.stats-container h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
}

.stats-container p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #444444;
}  */